@font-face {
    font-family: "Trajan_Pro";
    src: url(Trajan_Pro_Regular_font/Trajan\ Pro\ Regular.ttf) format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: "Trajan_Pro";
    src: url(Trajan_Pro_Regular_font/Trajan\ Pro\ Bold.ttf) format("truetype");
    font-weight: 700;
}




